<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>SERASA 2 | Automação GAEPP</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <script src="{{ url_for('static', filename='form_helper.js') }}"></script>
</head>
<body>
<header class="w-full px-3 py-1 flex justify-center items-center gap-2">
    <h1 class="text-3xl font-bold">
        Automação GAEPP
    </h1>
    <span class="text-3x">•</span>
    <h2 class="text-3xl">SERASA 2</h2>
</header>
<main class="mt-4">
    <div class="mx-10 flex flex-col gap-4 justify-center">
        <div class="text-lg mx-auto">
            Confirme ou altere os dados abaixo conforme necessário. Prossiga quando todos os dados estiverem válidos.
        </div>
        <ul class="text-base mx-auto list-disc list-inside">
            <li>
                Pontos, hífens e barras em CPFs, CNPJs e números do mandado são opcionais. Em valores monetários,
                somente a vírgula dos centavos é necessária.
            </li>
            <li>
                Os campos marcados com ★ (estrela) ficarão salvos para a próxima visita.
            </li>
        </ul>
        <form class="flex flex-col gap-2 mx-10">
            <label data-label="Número do Mandado" class="w-full">
                <input name="numero_mandado" type="text" placeholder="Número do Mandado"/>
            </label>
            <label data-label="Autor" class="w-full">
                <input name="autor" type="text" placeholder="Autor"/>
            </label>
            <label data-label="Executado" class="w-full">
                <input name="executado" type="text" placeholder="Executado"/>
            </label>
            <label data-label="CPF/CNPJ Ex. Principal" class="w-full">
                <input name="executado_cpf_cnpj" type="text" placeholder="CPF/CNPJ do Executado"/>
            </label>
            <label data-label="Valor da Pesquisa" class="w-full">
                <input name="valor_pesquisa" type="text" placeholder="Valor da Pesquisa"/>
            </label>
            <div>
                <div class="flex gap-2 items-center">
                    <span class="font-semibold text-lg flex-grow">Executados</span>
                    <button type="button" data-list-add="pesquisados"
                            class="rounded-md px-2 py-1 font-semibold bg-blue-400 hover:bg-blue-500 transition-colors">
                        &plus;
                        Adicionar
                    </button>
                </div>
                <ul id="pesquisados">
                    <template>
                        <li>
                            <fieldset class="flex gap-2 w-full">
                                <label data-label="Executado" class="w-full">
                                    <input name="nome" type="text" placeholder="Executado"/>
                                </label>
                                <label data-label="CPF/CNPJ Executado" class="w-full">
                                    <input name="cpf_cnpj" type="text" placeholder="CPF/CNPJ Executado"/>
                                </label>
                                <div class="flex flex-col flex-col-reverse">
                                    <button type="button" data-list-remove
                                            class="h-[50px] flex items-center justify-center font-bold text-white rounded-md aspect-square bg-red-500 hover:bg-red-800 transition-colors">
                                        &times;
                                    </button>
                                </div>
                            </fieldset>
                        </li>
                    </template>
                </ul>
            </div>
            <button type="submit"
                    class="mt-2 px-4 py-2 text-lg font-semibold rounded-lg bg-blue-400 hover:bg-blue-500 transition-colors mx-auto">
                Executar Ordem
            </button>
        </form>
    </div>
</main>
</body>
<script>
    formHelper("{{ data }}", "{{ system }}")
</script>
</html>